*, *::after, *::before {
    @include box-sizing(border-box);
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: $primary-font;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

input, textarea, select {
    font-family: $primary-font;
    font-size: 1.6rem;
}

figure {
    margin-top: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
}
