// color palette - these colors will be the color swatches of the Colors section

$color-1: #8f0000; // Dark Red
$color-2: #bc6666; // Fuzzy Wuzzy
$color-3: #f6e6bf; // Lemon Meringue
$color-4: #212021; // Raisin Black
$color-5: #ffffff; // White

// additional colors

$success: #4D7EA8; // Blue Yonder
$alert: $color-3;  // Lemon Meringue
