/* COLORS */
/* NAVIGATION */
header {
  background-color: #ffffff; }

/* TYPOGRAPHY */
h1, h2, h3 {
  font-family: "Ultra", serif;
  color: #bc6666; }

h1 {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 .4em; }
  @media only screen and (max-width: 767px) {
    h1 {
      font-size: 3.2rem; } }
  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 4rem; } }

h2 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0; }
  @media only screen and (max-width: 767px) {
    h2 {
      font-size: 1.8rem;
      margin: 1em 0 1.4em; } }

section > h2::before {
  /* number before each section title */
  color: black; }

li a {
  color: #8f0000;
  text-decoration: none; }
  li a:hover {
    color: #bc6666; }

p {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #e3bfbf; }
  p a {
    color: #8f0000;
    text-decoration: underline; }
  @media only screen and (min-width: 768px) {
    p {
      font-size: 1.6rem;
      line-height: 1.6; } }

footer a {
  color: #8f0000;
  text-decoration: none; }
  footer a:hover {
    color: #bc6666; }

/* BUTTONS */
.btn {
  border: none;
  box-shadow: none;
  border-radius: .25em;
  font-size: 1.4rem;
  font-family: "Ultra", serif;
  color: #ffffff;
  padding: .6em 2.2em;
  cursor: pointer;
  background: #bc6666; }
  .btn:focus {
    outline: none; }
  .no-touch .btn:hover {
    background: #c47878; }
  .btn.btn-success {
    background: #4D7EA8; }
    .no-touch .btn.btn-success:hover {
      background: #5b8bb4; }
  .btn.btn-alert {
    color: #8f0000;
    background: #f6e6bf; }
    .no-touch .btn.btn-alert:hover {
      background: #f3dda9; }
  .btn.btn-outline {
    color: #8f0000;
    background: transparent;
    box-shadow: inset 0 0 0 1px #8f0000; }
    .no-touch .btn.btn-outline:hover {
      color: #ffffff;
      background: #8f0000; }
  @media only screen and (max-width: 767px) {
    .btn {
      font-size: 1.6rem; } }

.cd-buttons .cd-box:nth-of-type(2) span {
  /* CSS class name color */
  color: #8f0000; }

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

input, textarea, select {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem; }

figure {
  margin-top: 50px; }

ul {
  list-style-type: none;
  padding: 0; }

/* PAGE TITLE */
main > h1 {
  color: #bc6666; }
  @media only screen and (min-width: 1024px) {
    main > h1 {
      /* title goes into the header on big devices */
      color: #ffffff; } }

/* BACKGROUND */
body {
  /* this is the page background */
  background-color: #ffffff; }

.intro, .sidebar {
  order: -1; }

/* SMALL SCREENS */
@media only screen and (max-width: 767px) {
  .page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px; }
    .page-wrapper footer {
      text-align: center; }

  h1, h2, h3, h4, h5 {
    text-align: center; } }
/* LARGE SCREENS */
@media only screen and (min-width: 768px) {
  .page-wrapper {
    display: grid;
    grid-template: 1000px 1fr / 250px 1fr;
    padding: 30px; }
    .page-wrapper .intro {
      grid-area: 1 / 1 / 1 / 1;
      padding-right: 20px; }
    .page-wrapper .sidebar {
      grid-area: 2 / 1 / 2 / 1;
      text-align: left;
      padding-right: 20px; }

  h1, h2, h3, h4, h5 {
    text-align: left; } }

/*# sourceMappingURL=style.css.map */
